<footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <h4>Blood Donation Market-Center</h4>
                        <ul class="navbar-nav">
                            <li><a href="">About</a></li>
                            <li><a href="">Midia</a></li>
                            <li><a href="">Press</a></li>
                            <li><a href="">Join our team</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h4>Comunity</h4>
                        <ul class="navbar-nav">
                            <li><a href="">For Donators</a></li>
                            <li><a href="">For Pacients</a></li>
                            <li><a href="">Hospitals</a></li>
                            <li><a href="">Investors</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h4>Important Links</h4>
                        <ul class="navbar-nav">
                            <li><a href="">App Mobile</a></li>
                            <li><a href="">Donation Honor Day</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>
                                <a href="" class="btn btn-outline-dark midia"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="" class="btn btn-outline-dark midia"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="" class="btn btn-outline-dark midia"><i class="fab fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
</footer>
