<h1></h1>
<%= link_to 'Make a Donation', new_blood_path, class:'btn-warning btn' %>

<%= link_to 'All Donations', all_donations_path, class:'btn-warning btn' %>
<%= link_to 'My Donations', my_donations_path, class:'btn-warning btn' %>
