<div class="container">
<h1>Hospitais precisando de Sangue, <a href="">doe jรก.</a></h1>


<div id="map"
     style="width: 100px; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
